.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
  background-color: var(--primary-galactic);
  color: var(--bg-light);
}

.header .logo a {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 20px;
  color: var(--bg-light);
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.nav__list>li {
  margin-left: 30px;
}

.nav__list a {
  color: var(--bg-light);
  letter-spacing: 0.7px;
  font-weight: 600;
  font-size: 16px;
}

/* .nav__list a:hover {
  color: var(--primary-lightblue);
} */

.header .btn {
  background-color: transparent;
  border: transparent;
  color: var(--bg-light);
  font-size: 25px;
}

.dropdown__button {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 16px;
  color: var(--bg-light);
  background-color: transparent;
  width: 110px;
  display: flex;
  align-items: center;
}

.dropdown__container {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown__list {
  position: absolute;
  top: 50px;
  color: white;
  padding: 10px 10px;
  background-color: var(--primary-galactic);
  border: 0.5px solid var(--primary-grey);
  border-radius: 5px;
  min-width: 200px;
  z-index: 1;
  font-size: 14px;
}

.dropdown__list li {
  padding: 10px 12px;
  border-radius: 5px;
}

.dropdown__list li:hover {
  background-color: var(--primary-darkgreen);
}