.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
  /* width: 100%;
  position: fixed;
  top: 0;
  z-index: 10; */
}

.header .logo a {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 20px;
  color: var(--primary-tasman);
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.header ul li {
  margin-left: 30px;
}

.header ul li a {
  display: flex;
  align-items: center;
  color: var(--primary-tasman);
  letter-spacing: 0.5px;
  font-weight: 600;
}

.header ul li a:hover {
  color: var(--primary-green);
}

.header button {
  background-color: transparent;
  border: transparent;
  color: var(--primary-tasman);
  font-size: 25px;
  margin: 0;
  padding: 0;
}