.newitem__container {
    margin: 80px auto 10px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}

.newitem__form {
    background-color: var(--bg-light);
    padding: 0px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__group {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;
    width: 100%;
    justify-content: center;
}

.form__control {
    width: 300px;
    min-width: 300px;
    flex-grow: 1;
}

.form__control:nth-last-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
}

/* to display color and colorsphere side by side and inline block */
.colorOption__div {
    display: inline-block;
    margin-right: 4px;
}

.washInstructions {
    width: 100%;
}

.form__heading {
    margin-top: 40px;
    position: relative;
    color: var(--primary-darkgreen);
}

.close__button {
    position: absolute;
    right: 5px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
    color: var(--primary-darkgreen);
}

.subcheckboxes {
    padding-left: 40px;
}

.newitem__btn {
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 30px;
    min-width: 100px;
    padding: 5px 12px;
    text-align: center;
    font-size: 13px;
    border-radius: 15px;
}

.newitem__btn:first-of-type {
    background-color: var(--primary-green);
}

.newitem__btn:last-of-type {
    background-color: var(--primary-blue);
}

.action__button:active {
    transform: scale(0.90);
}

/* --------------------------------- */
/* --------MEDIA QUERIES------- */
/* --------------------------------- */

@media screen and (max-width: 1400px) {
    .newitem__container {
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .newitem__container {
        width: 100vw;
    }
}

@media screen and (max-width: 600px) {
    .newitem__container {
        margin: 48px auto 30px;
        width: 100vw;
        /* overflow-y: auto; */
        max-height: 92vh;
    }

}