.newitem__container {
    margin: calc(25vh) auto 10px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}

.newitem__form {
    background-color: var(--bg-light);
    padding: 0px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__group {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;
    width: 100%;
    justify-content: center;
}

.form__control {
    width: 300px;
    min-width: 300px;
    flex-grow: 1;
}

.form__heading {
    position: relative;
    color: var(--primary-darkgreen);
}

.close__button {
    position: absolute;
    right: 5px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
    color: var(--primary-darkgreen);
}

.subcheckboxes {
    padding-left: 40px;
}

.newitem__btn {
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 30px;
    min-width: 100px;
    padding: 5px 12px;
    text-align: center;
    font-size: 13px;
    border-radius: 15px;
}

.newitem__btn:first-of-type {
    background-color: var(--primary-green);
}

.newitem__btn:last-of-type {
    background-color: var(--primary-blue);
}

.action__button:active {
    transform: scale(0.90);
}