.modal__overlay {
    /* change from position absolute to fixed so it would stay with scroll but really
    should just disable scroll when the modal is open */
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.modal {
    background-color: rgba(45, 45, 45, 1);
    border-radius: 0 8px 8px 8px;
    padding: 30px 30px;
    position: relative;
    width: 50%;
    height: fit-content;
}

.modal-close {
    position: absolute;
    right: 17px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal>h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    letter-spacing: 0.8px;
}