.newitem__container {
    /* border: 1px solid green; */
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.newitem__form {
    /* border: 3px solid purple; */
    border: 2px solid var(--primary-tasman);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__group {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;
}

.form__control {
    width: 30%;
    flex-grow: 1;
}

.subcheckboxes {
    padding-left: 40px;
}