.closet__toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 20px 8px 0px;
    align-items: center;
    gap: 10px;
}

.action__button {
    border: transparent;
    color: var(--primary-galactic);
    font-size: 30px;
    transition: transform 80ms ease-in;
    cursor: pointer;
    background-color: transparent;
}

.action__button:active {
    transform: scale(0.90);
}

.items__container {
    padding: 15px;
}

.item__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
}

/* FILTER BAR STYLING */
.filterbar__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 15px;
    gap: 10px;
}

.filterbar__list button {
    background-color: transparent;
}


/* CLOSET TOOLBAR RIGHT */
.closet__toolbar__right {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 30px;
}

.closet__toolbar__right button {
    padding-top: 5px;
}

.dropdown__container {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdown__list {
    position: absolute;
    top: 40px;
    right: 0px;
    color: white;
    padding: 10px 10px;
    background-color: var(--primary-galactic);
    border: 0.5px solid var(--primary-grey);
    border-radius: 5px;
    min-width: 200px;
    z-index: 1;
    font-size: 14px;
}

.dropdown__list li {
    padding: 10px 12px;
    border-radius: 5px;
}

.dropdown__list li:hover {
    background-color: var(--primary-darkgreen);
}

.search__input {
    padding: 0px 8px;
    height: 30px;
    border-radius: 15px;
    border: 1.6px solid var(--primary-galactic);
    font-family: 'Poppins', sans-serif;
    color: var(--primary-galactic);
}


/* ITEM COMPONENT STYLING */
.item__card {
    border-radius: 15px;
    padding: 14px 8px 10px;
    position: relative;
    font-size: 12px;
    color: #fff;
    background-color: var(--primary-darkgreen);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item__card:hover {
    background-color: var(--primary-galactic);
}

.item__header {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item__details {
    margin: 10px 10px 25px 10px;
    display: flex;
    align-items: top;
    gap: 10px;
}

.item__details span {
    height: 15px;
    display: flex;
    align-items: center;
}

.item__card h2 {
    margin: 0px 25px 0px 10px;
    font-weight: 600;
    font-size: 16px;
}

.item__card p {
    margin-left: 10px;
}

.item__image {
    border-radius: 15px;
    overflow: hidden;
}

.item__image img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ---------------------------------- */
/* OPEN ITEM CARD LARGE STYLING */
/* ---------------------------------- */
.expanded__card {
    z-index: 5;
    background-color: var(--primary-galactic);
    position: fixed;
    top: calc(50% - (700px / 2));
    left: calc(50% - (800px / 2));
    height: 700px;
    width: 700px;
    font-size: 13px;
}

.expanded__card .item__image {
    margin: auto;
    width: 70%;
}

.item__moredetails table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 80%;
    margin: 0px 10% 20px;
}

.item__moredetails table tr td:nth-child(2) {
    text-align: right;
}

.largecard__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
    margin: 18px 0px 18px;
}

.largecard__actions button {
    color: white;
    height: 30px;
    width: fit-content;
    min-width: 100px;
    padding: 5px 12px;
    text-align: center;
    font-size: 13px;
    border-radius: 15px;
}

.largecard__actions button:nth-child(1) {
    background-color: var(--primary-green);
}

.largecard__actions button:nth-child(2) {
    background-color: var(--primary-blue);
}

.largecard__actions button:nth-child(3) {
    background-color: var(--primary-orange);
}

.overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(27, 47, 40, 0.6);
}


/* ---------------------------------- */
/* ITEM CARD ACTIONS DROPDOWN STYLING */
/* ---------------------------------- */
.item__card .more__button {
    position: absolute;
    top: 9px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 19px;
    color: var(--primary-tasman);
}

.dropdown__itemactions {
    position: absolute;
    top: 35px;
    left: -30px;
    color: white;
    padding: 8px 8px;
    background-color: var(--primary-galactic);
    border: 0.5px solid var(--primary-grey);
    border-radius: 5px;
    min-width: 125px;
    z-index: 1;
    font-size: 14px;
}

.dropdown__itemactions li {
    padding: 5px 5px;
    border-radius: 5px;
}

.dropdown__itemactions li:hover {
    background-color: var(--primary-darkgreen);
}


/* ---------------------------------- */
/* ERROR & NO ITEMS DIV STYLING */
/* ---------------------------------- */
.error__div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.error__div h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    background-color: var(--primary-lightblue);
    border-radius: 5px;
    color: #333;
    font-weight: 400;
    padding: 50px 50px;
}

.emptycloset__div {
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

.emptycloset__div h3 {
    color: var(--primary-galactic);
    font-size: 25px;
}

.emptycloset__div img {
    padding: 0px 60px 60px 30px;
    margin-right: 40px;
}



/* MEDIA QUERIES */
@media screen and (max-width: 1500px) {
    .item__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .item__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .item__card h2 {
        font-size: 14px;
    }

    .closet__toolbar {
        justify-content: center;
        padding-right: 0;
    }

    .filterbar__list {
        justify-content: center;
    }

}

@media screen and (max-width: 600px) {
    .item__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 300px) {
    .item__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}