.list__table {
    width: 100%;
    border-radius: 18px;
    background-color: var(--bg-grey);
    border-collapse: collapse;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 0;
}

.list__table td:nth-child(4) {
    text-align: center;
}

.list__table td:last-of-type {
    text-align: end;
    width: 15%;
}

.list__table tr:hover {
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}

.list__table .selected {
    border: 1px solid var(--primary-blue);
}

.list__table td {
    padding: 10px 20px;
}

.list__table td:first-child {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.list__table td:last-child {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.division {
    margin: 10px 0px;
    background-color: var(--primary-grey);
    height: 1.5px;
    width: 100%;
}