.cards__container {
    background-color: pink;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 20px;
}

.overview__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}


.single_stat {
    border-radius: 8px;
    padding: 12px 12px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.744);
    background-color: var(--primary-darkgreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.single_stat span {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.single_stat:nth-last-child(2) span {
    color: var(--primary-blue);
}

.single_stat:nth-last-child(1) span {
    color: var(--primary-orange);
}

.details__button {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: green;
    letter-spacing: 1px;
}

.lists__container {
    width: 40%;
    border-radius: 8px;
    padding: 12px 12px;
    background-color: #fff;
}

.grid__stats {
    background-color: green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.flex__stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    .lists__container {}
}