.cards__container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* --------------------- */
/* CLOSET OVERVIEW STATS */
/* --------------------- */
.closet__overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
}

.closet__card {
    border-radius: 15px;
    padding: 15px 0px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.744);
    background-color: var(--primary-galactic);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closet__card span {
    color: var(--primary-blue);
    font-size: 1.8rem;
    font-weight: 600;
}

.seedetails__button {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: var(--primary-blue);
    font-weight: 600;
    margin: 10px 0px;
    font-family: 'Poppins', sans-serif;
}

/* --------------------- */
/* HABIT STATS */
/* --------------------- */

.habit__overview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
}

.habit__card {
    border-radius: 15px;
    padding: 15px 0px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.744);
    background-color: var(--primary-galactic);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(50% - 10px);
}

.habit__card span {
    font-size: 1.8rem;
    font-weight: 600;
}


/* --------------------- */
/* ITEM STATS */
/* --------------------- */

.items__overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 18px;
}

.list__container {
    border-radius: 15px;
    padding: 15px 0px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.744);
    background-color: var(--primary-galactic);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 500px;
}

.list__container table {
    border-spacing: 30px 15px;
    width: 100%;
}

.list__container tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
}

.list__container tr td:first-child,
td:last-child {
    width: 30%;
}

.list__container tr td:last-child {
    text-align: right;
}

.item__image {
    border-radius: 15px;
    overflow: hidden;
}

.item__image img {
    display: block;
    width: 100px;
    object-fit: cover;
}


@media (max-width: 600px) {
    .closet__overview {
        grid-template-columns: 1fr;
    }

    .habit__overview {
        flex-direction: column;
    }

    .list__container table {
        font-size: 14px;
    }

    .item__image {
        display: none;
    }

    .list__container {
        min-width: 300px;
    }
}


@media (max-width: 500px) {
    .list__container {
        min-width: 230px;
    }

    .list__container tr td:first-child,
    td:last-child {
        width: 50%;
    }

    /* .item_times {
        display: none;
    } */

    .list__container tr {
        justify-content: center;
    }
}